 ul{
    white-space: nowrap;
    background-color: #000000;
    overflow-x: scroll;
    >li {
        display: inline;
        text-align: center;
        padding: 20px;
        font-size: 40px;
        color: white;
        :hover{background-color: white;color: black;}
        >a{
            text-decoration: none;
        }
    };
    :visited{
        color: white;
    }
}
 